img {
  width: 100%;
  margin: 0;
  margin-bottom: 5%;
  /*filter: grayscale(100%);*/
}
.example-card {
  width: 23%;
  margin-bottom: 2%;
  font-family: Arial;
}
body {
  min-height: 100%;
  width: 100%;
}
