<!--<div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="12px" class="cards" >-->
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Predicting remaining time of a process</mat-card-title>
      <mat-card-subtitle>2019</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/dp2.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        A python based implementation that uses Monte Carlo simulation and samples from a truncated distribution to predict the remaining time of a process. The algorithm is based on the work of Andreas Rogge-Solti and Mathias Weske presented in the paper "Prediction of Remaining Service Execution Time Using Stochastic Petri Nets with Arbitrary Firing Delays".
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/karshreya98/ProcessMining" style="color: black">see more</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Exploratory Data Analysis</mat-card-title>
      <mat-card-subtitle>2019</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/dp4.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Exploratory Data Analysis of a New York city AirBnb dataset obtained via Kaggle. The analysis is done using python.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/karshreya98/ExploratoryDataAnalysis" style="color: black">see more</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Data Analysis of Traffic Violations</mat-card-title>
      <mat-card-subtitle>2018</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/dp1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        In this project vast amounts of data collected by the E-challan(online traffic violation) system of two major Indian cities, Pune and Mumbai, is analysed.
        By cleaning, preprocessing and applying appropriate machine learning techniques to the data,
        we could answer questions like "On a weekday during rush hours which area of the city is most prone to traffic violations?", "In area X of city Y, what is the most common traffic violation?", "Can areas be clustered based on the traffic violations?".
        Given that traffic monitoring is largely un-automated in India, this analysis, attempts to help the traffic police to strategically monitor the traffic and accordingly take actions for the safety and benefit of citizens.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/karshreya98/TrafficDataAnalysis" style="color: black">see more</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Stock Recommendation System</mat-card-title>
      <mat-card-subtitle>2016</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/dp3.PNG" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        A single page web application built sing Angular JS and Java, that recommends top 5 performing stocks of teh NIFTY 50 Market based on the sector that the user selected.
        This project also deploys charting libraries to visualise the performance of equities over a period of time. This project was presented at Citi Bank, India.
      </p>
    </mat-card-content>
<!--    <mat-card-actions>-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--    </mat-card-actions>-->
  </mat-card>
</div>
