/*@import '~@ngx-share/button/themes/default/default-theme';*/
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  /*border-radius: 3px;*/
  height: 10%;
  background: black;
  margin: auto;
  /*opacity: 50%;*/
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}
.logo-images{
  height: 100%;
  width: 100%;
}
img{
  margin-top: 1%;
  height: inherit;
  width: 30px;
}
mat-icon-button{
  color: white;
}
