@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/images/backdrop.JPG");
  background-size: cover;
  filter: grayscale(100%);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.content{
  height: inherit;
  width: inherit;
}
.example-card{
 width: 50%;
  height: 80%;
}
.header-text
{
  font-family:'Homemade Apple', cursive;
  font-size: large;
  color: black;
  /*size: 50px;*/
  /*width: inherit;*/
  /*height: inherit;*/
}
.text-homepage{
  font-family: "Courier New", bold;
  padding: auto;
  color: black;
  position: relative;
  text-align: center;
  /*width: inherit;*/
  /*height: inherit;*/
  /*margin-left: 10%;*/

}
.mat-elevation-z12{
  width: 50%;
  height: 80%;
  padding: auto;
}
img{
  height: inherit;
  width: auto;
  border: black;
}

