<!--<mat-card fxLayout="1 1 100%" class="example-card" >-->
<!--&lt;!&ndash;  <mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;    <div fxLayoutAlign="center center">About me</div>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-card-header>&ndash;&gt;-->
<!--  <mat-card-content fxLayout="row" fxLayoutAlign="flex-start">-->
<!--    <div fxFlex="1 1 70%" class="text-homepage" fxLayoutAlign="center top" fxLayout="column">-->
<!--      <div> About Me</div>-->
<!--      <mat-divider [inset]="true"></mat-divider>-->
<!--      <div>-->
<!--      Hi! My name is Shreya Kar and I'm a graduate student in Software Engineering at RWTH Aachen University, Germany.-->
<!--      I am originally from India, but I grew up in many cities. This Portfolio is a way to get to know me better. Get a peek into my life experiences and projects!-->
<!--      </div>-->
<!--    </div>-->
<!--    <img mat-card-image src="/assets/home-pic.jpg" alt="Profile pic" fxFlex="1 1 30%">-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <button mat-button>LIKE</button>-->
<!--    <button mat-button>SHARE</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
<!--<div fxLayout="column" fxLayoutGap="5%">-->
<!--  <div fxLayoutAlign="center center" fxFlex=" 1 1 50%">About Me</div>-->
<!--  <mat-divider [inset]="true"></mat-divider>-->
  <div fxLayout="row">
    <div fxLayoutAlign="center center" fxLayout="column" fxFlex="1 1 50%">
      <div class="header-text">About Me.</div>
      <div  class="text-homepage">
        Hi! My name is Shreya and I am a graduate student at RWTH Aachen University, Germany.
        I'm majoring is Software Engineering. Apart from Computer Science, I'm passionate about travel.
        I grew up in many cities in India and spent some formidable years of my life in Dubai, UAE.
        Interacting with people from different cultures and background has fueled my love for learning new languages and
        cultures.
        I hope to share some of my experiences and the work I'm doing through this platform, so that you get to know me
        a bit better !
      </div>
    </div>
    <div fxFlex="1 1 50%" fxLayoutAlign="center center">
      <img class="image" src="/assets/home-pic.jpg" alt="Profile pic">
    </div>
  </div>

<!--</div>-->
